# .gimme_readme_config

# Make your OpenAI API Key: https://platform.openai.com/api-keys
OPENAI_KEY=YOUR_OPENAI_KEY

# Make your Gemini API Key: https://aistudio.google.com/app/apikey
GEMINI_KEY=YOUR_GEMINI_KEY

# Make your Groq API Key: https://console.groq.com/keys
GROQ_KEY=YOUR_GROQ_KEY

# Default model you prefer to use.
# List of supported models: https://github.com/peterdanwan/gimme_readme#4-list-of-supported-models-by-providers
MODEL=llama3-8b-8192

# Default temperature you prefer to use (0-1)
TEMPERATURE=YOUR_TEMPERATURE_VALUE
